.details-panel {
  letter-spacing: 1px;
  
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.details-panel > li {
  display: flex;
  flex-flow: column;
  align-items: center;

  div{
    padding: 5px 0;

    &:first-child {
      font-weight: bold;
    }
  }
    
}