.forecast-panel {
  display: flex;
  justify-content: space-around;

  padding: 20px 0;
}

.forecast-panel > li {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.forecast-temp {
  font-weight: bold;
}

.forecast-conditions {
  padding-top: 12px;
}